*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #345511;
    font-family: 2.5rem;
    
}
h2{
    font-size: 2.5rem;
    padding: 5px;
    margin: 2px;
}
nav{
    background-color:black;
}
ul{
 list-style-type: none;
 margin: 0;
 padding:1rem;
text-align: right;
}
li{
    display: inline-block;
    margin-inline: 0.5rem;
    font-size: 1.5rem;
    gap:2rem;
   
}
li a{
    text-decoration: none;
    color: aliceblue;
    padding: 2px;
    
}
li a:hover,
li a:focus{
    opacity: 0.5;
}
img{
    border-radius: 50%;
    
}

.quote{
    font-size: 2rem;
    text-align: right;
    padding-right: 2px;
    margin: 2.5rem;

}

.center{
    font-size: 1.5rem;
    float:right;
}
.right{
    float: left;
    margin-right: 20px;
}
section{
    display: flow-root;
    padding: 1rem;
}
.content{
    font-size: 3rem;
    padding: 3px;
    margin: 2px;
    text-align: center;
}
.three{
    height: 10vh;
}
.foot a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    
}
.three{
 margin: 50px;
 padding: 50px;
}
ol{
    text-align: right;
    
}
.last{
    padding: 3px;
    padding-left: 2px;
}
li{
    padding-right: 2px;
    padding: 3px;
    padding-bottom: 2px;

}

